pipeline/Variable_1.json
{
	"name": "Variable_1",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_tbl",
						"type": "DatasetReference",
						"parameters": {
							"tbl_Name": "COPY_CONTROL_TABLE"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Array_Variable",
								"value": {
									"value": "@item().ACTIVITY_ID",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Test_Array",
								"value": {
									"value": "@variables('Array_Variable')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Test_Variable": {
				"type": "String"
			},
			"Array_Variable": {
				"type": "Array"
			},
			"Test_Array": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-27T03:48:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}